.slide-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px;
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  background-image: url("../../../images/mountain.jpg");
  background-size: cover;
}
.text-content {
  flex: 1;
  padding-right: 20px;
  box-sizing: border-box;
  text-align: left;
  padding-left: 40px;
}
.text-content h1 {
  font-size: 5em;
  font-weight: 600;
}
.text-content h1 i {
  font-style: italic;
  font-weight: 450;
}
.para {
  max-width: 500px;
}

.slider-content {
  flex: 2;
  max-width: calc(55%);
  box-sizing: border-box;
}
